.btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: blue;
  color: red;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 14px;
}

.activeBtn {
  background-color: blueviolet;
  color: #fff;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 14px;
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.activeBtn:hover{
  border:2px solid red;
}